include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include libradash *.css
recursive-include libradash *.csv
recursive-include libradash *.html
recursive-include libradash *.ico
recursive-include libradash *.js
recursive-include libradash *.json
recursive-include libradash *.md
recursive-include libradash *.png
recursive-include libradash *.py
recursive-include libradash *.svg
recursive-include libradash *.txt
recursive-exclude libradash *.pyc